<%- include('include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Homepage</h1>
            </div>


            <!-- Content Row -->

            <div class="row">

                <!-- CARD 1 -->
                <div class="col-lg-8" style="height: 100%;">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Project Background</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <text>The purpose of development of this system is to reduce the food wastage that are happening in this 
                                country, Malaysia. This system allows the user to help each other by donating and requesting. Furthermore, 
                                it is also a marketplace that allows the people to sell their items, leftover foods or any other thing for 
                                a lower price in order to help someone in need. The process of donating and selling is through contacting 
                                within each other.  Listing the item online will allow the society to help each other that in need in this current time. 
                            </text>
                        </div>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="col-lg-4">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Project Objective</h6>

                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <text>- To develop a centralized system which provides the users to donate and selling items with a lower price tag to other users.</text>
                            <br>
                            <text>- To provide a web application that is reliable and accessible to all kind of users.</text>
                            <br>
                            <text>- To test the web application ability for its functionality and usability among the users.</text>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!-- CARD 1 -->
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Scope</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <text>Target User - Community in the affected neighborhood), Organizations and Charity homes.</text>
                            <br>
                            <br>
                            <text>Geographical Location - This web application is mainly focuses in Shah Alam area. Users within this area are enabled to receive and give donations to other users. </text>
                            <br>
                            <br>
                            <text>Platform - Web browser (Mainly focuses on Google Chrome), using English as a default language for the web application</text>
                            <br>
                            <br>
                            <text>Features and Functions - The web application will be available to the public. Connected with the internet, users can easily access the web application. </text>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <!-- CARD 2 -->
                <div class="col-lg-6">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-dark">Significance</h6>

                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <text>Environment - Improve the connection in the community, as well as the people get to help each other just by reaching the internet.</text>
                            <br>
                            <br>
                            <text>User - User can easily share, donate, and sell their leftover foods to other people just by using the internet, they can interact within each other.</text>
                            <br>
                            <br>
                            <text>Organizations - This application will severely help those organizations in needs as other users are able to donate their leftover foods for them. </text>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('include/_footer') %>